{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/react"
  ],
  "env": {
    "esm": {
      "presets": [
        "@babel/typescript",
        [
          "@babel/env",
          {
            "modules": false
          }
        ],
        "@babel/react"
      ]
    }
  },
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-regenerator"
  ]
}
